@model IEnumerable<TentStore.DATA.EF.PoleMaterial>

@{
    ViewBag.Title = "Poles";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PoleMaterial1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PoleMaterial1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PoleMaterialID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PoleMaterialID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PoleMaterialID })
        </td>
    </tr>
}

</table>
